<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="myrobot_hand" 
    params="hand_joints_lower_limit
            hand_joints_upper_limit
            hand_joints_effort_limit
            hand_joints_velocity_limit
            hand_color
            ">

    <link name="hand_link">
      <visual>
        <origin rpy="3.14159 0 1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/HandMount.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${hand_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/HandMount.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.00036 -0.00003 0.018185" rpy="0 0 0"/>
        <mass value="0.164186"/>
        <inertia ixx="5.5155958e-5" ixy="-6.0872e-8" ixz="-1.9987e-7"
                iyy="7.2198073e-5" iyz="3.7257e-8" izz="7.8575254e-5"/>
      </inertial>
    </link>

    <joint name="joint_grip" type="revolute">
      <parent link="hand_link" />
      <child link="handA_link" />
      <origin xyz="0.0 -0.012 -0.02575" rpy="0 0 0"/>
      <limit 
        lower="${hand_joints_lower_limit}" 
        upper="${hand_joints_upper_limit}" 
        effort="${hand_joints_effort_limit}" 
        velocity="${hand_joints_velocity_limit}"/>
      <axis xyz="1 0 0"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="handA_link">
      <visual>
        <origin rpy="3.14159 0 -1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/HandFingureA.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${hand_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 -1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/HandFingureA.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.001325 -3.967e-10 0.022033" rpy="0 0 0"/>
        <mass value="0.020568"/>
        <inertia ixx="1.0584193e-5" ixy="-1.041e-14" ixz="5.62926e-7"
                iyy="4.874099e-6" iyz="0" izz="6.957021e-6"/>
      </inertial>
    </link>

    <joint name="joint_grip_mimic" type="revolute">
      <parent link="hand_link" />
      <child link="handB_link" />
      <origin xyz="0.0 0.012 -0.02575" rpy="0 0 0"/>
      <limit 
        lower="${hand_joints_lower_limit}" 
        upper="${hand_joints_upper_limit}" 
        effort="${hand_joints_effort_limit}" 
        velocity="${hand_joints_velocity_limit}"/>
      <axis xyz="-1 0 0"/>
      <mimic joint="joint_grip" multiplier="1" offset="0"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="handB_link">
      <visual>
        <origin rpy="3.14159 0 -1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/HandFingureB.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${hand_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 -1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/HandFingureB.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.001385 -0.000244 0.021686" rpy="0 0 0"/>
        <mass value="0.02096"/>
        <inertia ixx="1.0837944e-5" ixy="-7.082e-9" ixz="-5.33588e-7"
                iyy="5.007456e-6" iyz="-1.10875e-7" izz="7.078359e-6"/>
      </inertial>
    </link>

    <gazebo reference="hand_link">
      <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="handA_link">
      <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="handB_link">
      <material>Gazebo/Red</material>
    </gazebo>

  </xacro:macro>

</robot>
