<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="myrobot" 
    params="joint01_lower_limit joint01_upper_limit
            joint02_lower_limit joint02_upper_limit
            joint03_lower_limit joint03_upper_limit
            joint04_lower_limit joint04_upper_limit
            joint05_lower_limit joint05_upper_limit
            joint06_lower_limit joint06_upper_limit
            joint07_lower_limit joint07_upper_limit
            joint08_lower_limit joint08_upper_limit
            joint09_lower_limit joint09_upper_limit
            joint01_effort_limit joint01_velocity_limit
            joint02_effort_limit joint02_velocity_limit
            joint03_effort_limit joint03_velocity_limit
            joint04_effort_limit joint04_velocity_limit
            joint05_effort_limit joint05_velocity_limit
            joint06_effort_limit joint06_velocity_limit
            joint07_effort_limit joint07_velocity_limit
            joint08_effort_limit joint08_velocity_limit
            joint09_effort_limit joint09_velocity_limit
            arm_color
            ">

    <!-- ================= Joint 00 ================= -->
    <joint name="joint00" type="fixed">
      <parent link="base_link" />
      <child link="link01" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="link01">
      <visual>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/com01.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${arm_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/com01.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
        <mass value="0.25"/>
      </inertial>
    </link>

    <!-- ================= Joint01 ================= -->
    <joint name="joint01" type="revolute">
      <parent link="link01" />
      <child link="link02" />
      <origin xyz="0 0 -0.0715" rpy="0 0 0"/>
      <limit lower="${joint01_lower_limit}" upper="${joint01_upper_limit}" effort="${joint01_effort_limit}" velocity="${joint01_velocity_limit}"/>
      <axis xyz="0 0 1"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="link02">
      <visual>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/com02.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${arm_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/com02.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
        <mass value="0.2"/>
      </inertial>
    </link>

    <!-- ================= Joint02 ================= -->
    <joint name="joint02" type="revolute">
      <parent link="link02" />
      <child link="link03" />
      <origin xyz="0 0 -0.0715" rpy="0 0 0"/>
      <limit lower="${joint02_lower_limit}" upper="${joint02_upper_limit}" effort="${joint02_effort_limit}" velocity="${joint02_velocity_limit}"/>
      <axis xyz="0 1 0"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="link03">
      <visual>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/com03.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${arm_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/com03.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
        <mass value="0.2"/>
      </inertial>
    </link>

    <!-- ================= joint03 ================= -->
    <joint name="joint03" type="revolute">
      <parent link="link03"/>
      <child link="link04"/>
      <origin xyz="0 0 -0.0715" rpy="0 0 0"/>
      <limit lower="${joint03_lower_limit}" upper="${joint03_upper_limit}" effort="${joint03_effort_limit}" velocity="${joint03_velocity_limit}"/>
      <axis xyz="0 0 1"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="link04">
      <visual>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/com04.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${arm_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/com04.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
        <mass value="0.2"/>
      </inertial>
    </link>

    <!-- ================= joint04 ================= -->
    <joint name="joint04" type="revolute">
      <parent link="link04" />
      <child link="link05" />
      <origin xyz="0 0 -0.150" rpy="0 0 0"/>
      <limit lower="${joint04_lower_limit}" upper="${joint04_upper_limit}" effort="${joint04_effort_limit}" velocity="${joint04_velocity_limit}"/>
      <axis xyz="0 1 0"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="link05">
      <visual>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/com05.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${arm_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/com05.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
        <mass value="0.2"/>
      </inertial>
    </link>

    <!-- ================= Joint05 ================= -->
    <joint name="joint05" type="revolute">
      <parent link="link05" />
      <child link="link06" />
      <origin xyz="0 0 -0.2005" rpy="0 0 0"/>
      <limit lower="${joint05_lower_limit}" upper="${joint05_upper_limit}" effort="${joint05_effort_limit}" velocity="${joint05_velocity_limit}"/>
      <axis xyz="0 0 1"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="link06">
      <visual>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/com06.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${arm_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/com06.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
        <mass value="0.15"/>
      </inertial>
    </link>

    <!-- ================= Joint06 ================= -->
    <joint name="joint06" type="revolute">
      <parent link="link06" />
      <child link="link07" />
      <origin xyz="0 0 -0.09025" rpy="0 0 0"/>
      <limit lower="${joint06_lower_limit}" upper="${joint06_upper_limit}" effort="${joint06_effort_limit}" velocity="${joint06_velocity_limit}"/>
      <axis xyz="0 1 0"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="link07">
      <visual>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/com07.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${arm_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/com07.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
        <mass value="0.1"/>
      </inertial>
    </link>

    <!-- ================= Joint07 ================= -->
    <joint name="joint07" type="revolute">
      <parent link="link07" />
      <child link="link08" />
      <origin xyz="0 0 -0.1355" rpy="0 0 0"/>
      <limit lower="${joint07_lower_limit}" upper="${joint07_upper_limit}" effort="${joint07_effort_limit}" velocity="${joint07_velocity_limit}"/>
      <axis xyz="0 0 1"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="link08">
      <visual>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/com08.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${arm_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/com08.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
        <mass value="0.1"/>
      </inertial>
    </link>

    <!-- ================= Joint08 ================= -->
    <joint name="joint08" type="revolute">
      <parent link="link08" />
      <child link="link09" />
      <origin xyz="0 0 -0.09025" rpy="0 0 0"/>
      <limit lower="${joint08_lower_limit}" upper="${joint08_upper_limit}" effort="${joint08_effort_limit}" velocity="${joint08_velocity_limit}"/>
      <axis xyz="0 1 0"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="link09">
      <visual>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/visual/com09.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${arm_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://myrobot_description/meshes/collision/com09.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
        <mass value="0.1"/>
      </inertial>
    </link>

    <!-- ================= Joint09 ================= -->
    <joint name="joint09" type="revolute">
      <parent link="link09" />
      <child link="hand_link" />
      <origin xyz="0 0 -0.14050" rpy="0 0 0"/>
      <limit lower="${joint09_lower_limit}" upper="${joint09_upper_limit}" effort="${joint09_effort_limit}" velocity="${joint09_velocity_limit}"/>
      <axis xyz="0 0 1"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <!-- ================= Gazebo 設定 ================= -->
    <xacro:macro name="gazebo_material" params="link_name">
      <gazebo reference="${link_name}">
        <material>Gazebo/White</material>
      </gazebo>
    </xacro:macro>

    <xacro:gazebo_material link_name="link01"/>
    <xacro:gazebo_material link_name="link02"/>
    <xacro:gazebo_material link_name="link03"/>
    <xacro:gazebo_material link_name="link04"/>
    <xacro:gazebo_material link_name="link05"/>
    <xacro:gazebo_material link_name="link06"/>
    <xacro:gazebo_material link_name="link07"/>
    <xacro:gazebo_material link_name="link08"/>
    <xacro:gazebo_material link_name="link09"/>

  </xacro:macro>

</robot>
