<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="myrobot_10dof_hand" 
    params="hand_joints_lower_limit
            hand_joints_upper_limit
            hand_joints_effort_limit
            hand_joints_velocity_limit
            hand_color
            ">

    <link name="link10">
      <visual>
        <origin rpy="3.14159 0 1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_10dof_description/meshes/visual/com10C.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${hand_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_10dof_description/meshes/collision/com10C.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="1.5708 0 0" xyz="-0.118e-03 -20.65e-03 1.006e-03"/>
        <inertia ixx="32600.928e-09" ixy="-69.84e-09" ixz="-254.224e-09" iyy="41969.484e-09" iyz="-409.16e-09" izz="43040.018e-09"/>
        <mass value="121.0e-03"/>
      </inertial>
    </link>

    <joint name="hand_joint" type="revolute">
      <parent link="link10" />
      <child link="handA_link" />
      <origin xyz="0.0 -0.012 -0.02575" rpy="0 0 0"/>
      <limit 
        lower="${hand_joints_lower_limit}" 
        upper="${hand_joints_upper_limit}" 
        effort="${hand_joints_effort_limit}" 
        velocity="${hand_joints_velocity_limit}"/>
      <axis xyz="1 0 0"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="handA_link">
      <visual>
        <origin rpy="3.14159 0 -1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_10dof_description/meshes/visual/com10A.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${hand_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 -1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_10dof_description/meshes/collision/com10A.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="2.649e-03 -26.849e-03 3.757e-03"/>
        <inertia ixx="10192.75e-09" ixy="-197.895e-09" ixz="98.609e-09" iyy="5023.728e-09" iyz="-554.407e-09" izz="6322.202e-09"/>
        <mass value="15.8e-03"/>
      </inertial>
    </link>

    <joint name="hand_mimic_joint" type="revolute">
      <parent link="link10" />
      <child link="handB_link" />
      <origin xyz="0.0 0.012 -0.02575" rpy="0 0 0"/>
      <limit 
        lower="${hand_joints_lower_limit}" 
        upper="${hand_joints_upper_limit}" 
        effort="${hand_joints_effort_limit}" 
        velocity="${hand_joints_velocity_limit}"/>
      <axis xyz="-1 0 0"/>
      <mimic joint="hand_joint" multiplier="1" offset="0"/>
      <dynamics damping="1.0e-6" friction="0.8"/>
    </joint>

    <link name="handB_link">
      <visual>
        <origin rpy="3.14159 0 -1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_10dof_description/meshes/visual/com10B.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${hand_color}"/>
      </visual>
      <collision>
        <origin rpy="3.14159 0 -1.5708" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://myrobot_10dof_description/meshes/collision/com10B.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="-2.707e-03 -30.901e-03 2.845e-03"/>
        <inertia ixx="7483.7e-09" ixy="361.283e-09" ixz="-63.385e-09" iyy="4088.581e-09" iyz="-228.226e-09" izz="4372.991e-09"/>
        <mass value="13.9e-03"/>
      </inertial>
    </link>

    <gazebo reference="link10">
      <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="handA_link">
      <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="handB_link">
      <material>Gazebo/Red</material>
    </gazebo>

  </xacro:macro>

</robot>
